body {
  background-color: #f4f4f4;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
button {
 display: block;
}